<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/style.css" rel="stylesheet" />
    <!--<script src="/public/htmx.min.js"></script>-->
    <title>sgp helper</title>
  </head>
  <body class="">

    <div>
      <form action="/newSeason" method="post" enctype="multipart/form-data">
        <label for="new_season_name">season name</label>
        <input type="text" id="new_season_name" name="new_season_name" required minlength="4" maxlength="50" size="25" />
        <input type="submit" value="create">
      </form>
    </div>

    <p> {{ . }} </p>
    
    <p>
      {{ range $key, $value := . }}
      {{ $key }}<br>
      {{ $value.Races }}
      {{ end }}
    </p>
  </body>
</html>